@model Entities.Medicine

<link rel="stylesheet" href="~/css/card.css" />

<script type="text/javascript">
    function showMessage() {
        alert("Hello , your order Adedd to the basket");
    }
</script>

<div class="card-category-1">

    <div class="basic-card basic-card-dark">
        <div class="card-content">


            @using (Html.BeginForm("Medicine", "Store", FormMethod.Post))
            {
                <label>Category</label>
                <input type="hidden" name="MedicineId" />
                <div class="form-group">
                    <label>Name: @Model.Name</label>
                </div>
                <div class="form-group">
                    <label>Price: @Model.Price</label>
                </div>
                @if (!String.IsNullOrEmpty(Model.ImageName))
                {
                    <img width="200" height="200" src="~/MedicineImages/@Model.ImageName" />
                }
                
                <br />
                <div class="form-group">
                    <input class="btn btn-info" type="submit" value="Buy" onclick="showMessage()">
                </div>



            }
        </div>

    </div>

</div>

}


